{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>YouTube</title>
        {% tailwind_css %}
    </head>
    <body>
        <header class="sticky top-0 z-50 bg-white shadow-md">
            <div class="container mx-auto px-4 py-3 flex justify-between items-center">

                <div class="flex items-center">
                    <a href="/" class="flex items-center gap-2">
                        <svg class="w-8 h-8 text-red-600" fill="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" />
                        </svg>
                        <span class="text-2xl font-semibold">YouTube</span>
                    </a>
                </div>

                <div class="flex items-center gap-4">
                    {% if user.is_authenticated %}
                    <a href="{% url 'video_new' %}"
                        class="flex items-center gap-2 px-4 py-2 bg-gray-100 rounded-full  font-medium">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#0F0F0F">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                        <span>Créer</span>
                    </a>
                    {% else %}
                    <a href="/admin/login/"
                        class="px-4 py-2 text-blue-600 border border-blue-600 rounded-full hover:bg-blue-50 font-medium text-sm transition-colors">
                        Se connecter
                    </a>
                    {% endif %}
                </div>
            </div>
        </header>
        <main class="content mx-auto px-4 max-w-4xl py-6">
            <div>
                <div>
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>