{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>YouTube</title>
    <link rel="stylesheet" href="{% static 'css/video.css' %}">
</head>

<body>
    <header class="site-header">
        <div class="header-container">

            <div class="logo-container">
                <a href="/" class="logo-link">
                    <svg class="logo-icon" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z" />
                    </svg>
                    <span class="logo-text">mini-ytb</span>
                </a>
            </div>

            <div class="search-container">
                <input type="text" id="search-input" placeholder="Rechercher...">
                <div id="search-results" class="search-results"></div>
            </div>

            <div class="user-actions">
                {% if user.is_authenticated %}
                <a href="{% url 'video_new' %}" class="btn btn-create">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="currentColor">
                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                    </svg>
                    <span>Créer</span>
                </a>
                {% else %}
                <a href="/admin/login/" class="btn btn-login">
                    Se connecter
                </a>
                {% endif %}
            </div>
        </div>
    </header>
    <main class="main-content">
        <div class="content-wrapper">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </div>
    </main>
    <script>
        // On attend que le HTML soit chargé
        // Il ilt le Html et convert en DOM
        // Ensuite il peut manipuler le DOM
        // premier argument : l'événement à écouter
        // 
        //
        // je déclare une fonction anonyme (sans nom) qui sera exécutée lorsque l'événement "DOMContentLoaded" sera déclenché
        //
        // second argument : le callback, la fonction anonyme à exécuter lorsque l'événement est déclenché
        //
        document.addEventListener("DOMContentLoaded", function () {

            // Récupération des éléments du DOM dans des constantes
            const searchInput = document.getElementById('search-input');
            const resultsContainer = document.getElementById('search-results');

            // addEventListener écoute de l'événement "input"
            // Input est l'élément déclencheur de l'événement
            // function (event) est le callback, à chaque fois que "input" est déclenché, la fonction event est appelée
            //
            // je déclare une fonction anonyme (sans nom) qui sera exécutée lorsque l'événement "input" sera déclenché sur l'élément searchInput
            // en lui passant en paramètr l l'objet event qui contient des informations sur l'événement déclenché
            //
            // Le paramètre event (ou parfois e) est un objet automatiquement créé par le navigateur 
            // qui contient plein d'informations sur ce qui vient de se passer.
            // 
            // event est un objet qui contient des informations sur l'événement déclenché.
            //
            searchInput.addEventListener("input", function (event) {
                // Récupère la valeur actuelle du champ de recherche

                // target designe l'élément qui a déclenché l'événement
                // value est la valeur actuelle de ce champ
                const query = event.target.value;

                // Gestion champ vide
                if (query.length > 0) {
                    // Appel AJAX avec passage en paramètre 
                    // Je lui passes une fonction anonyme (callback) qui sera exécutée lorsque la réponse AJAX sera reçue
                    // Quand updateDOM aura fini de parler au serveur, appelle cette fonction et mets ce que tu as reçu dans la variable que j'ai nommée response
                    makeAjaxRequest("GET", `{% url 'search_videos' %}?q=${query}`, function (response) {
                        updateDOM(response);
                    });
                }
                else {
                    resultsContainer.style.display = 'none';
                    resultsContainer.innerHTML = '';
                }
            });
        });

        function makeAjaxRequest(method, url, callback) {
            // Ici faire en xhr plutot que en avec fetch pour pouvoir démontrer Synchrone et Asynchrone
            const xhr = new XMLHttpRequest();

            // true = Asynchrone (Normal, fluide)
            // false = Synchrone (Bloque la page -> Pour ta démo)
            // Préparation de la requête
            xhr.open(method, url, true);

            // onreadystatechange est un événement qui se déclenche à chaque changement d'état de la requête AJAX
            // dans notre cas il se déclanche lorsque la requête est terminée
            xhr.onreadystatechange = function () {
                // readyState 4 = Terminé
                if (xhr.readyState === 4) {
                    // Statut 200 = OK
                    if (xhr.status === 200) {
                        // Parse la réponse JSON en objet JS
                        const json = JSON.parse(xhr.responseText);
                        callback(json); // Exécution du callback reçu en paramètre <--- Le biper sonne ici !
                    } else {
                        console.error("Erreur AJAX :", xhr.status);
                    }
                }
            };
            // Envoi de la requête en null car c'est du GET et donc pas de corps de message
            // GET (La carte postale) La fonction xhr.send() sert à remplir l'intérieur de l'enveloppe. Comme c'est une carte postale (GET), il n'y a pas d'intérieur.
            // POST (La lettre scellée) La méthode POST sert à envoyer de l'information (créer un compte, uploader une vidéo). C'est comme une lettre dans une enveloppe.
            xhr.send(null);
        }

        function updateDOM(videos) {
            const resultsContainer = document.getElementById('search-results');

            // On vide proprement
            resultsContainer.innerHTML = '';
            resultsContainer.style.display = 'block';

            // Boucle sur les résultats
            // je donne à foreach une fonction anonyme (callback)
            // qui sera exécutée pour chaque élément du tableau videos
            videos.forEach(function (video) {
                // Changement de innerHTML += à des createElement en jouant avec les noeuds
                // https://developer.mozilla.org/fr/docs/Web/API/Document/createElement

                // 1. Création du lien <a> parent
                const lien = document.createElement("a");
                lien.href = `/video/${video.id}/`;
                lien.classList.add("search-result-item");

                // création enfant
                const texte = document.createTextNode(video.title);

                // assemblage parent et enfant
                lien.appendChild(texte); // Le texte va dans le lien
                resultsContainer.appendChild(lien); // Le lien va dans le conteneur
            });
        }
    </script>
</body>

</html>