{% extends 'videos/base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col">
                {% for video in videos %}
                    <article class="post">
                        <time class="date">
                            {{ video.uploaded_at }}
                        </time>
                        {% comment %} <h2><a href="{% url 'video_detail' pk=video.pk %}">{{ video.title }}</a></h2> {% endcomment %}
                        <h2>{{ video.title }}</h2>
                        <p>{{ video.description|linebreaksbr }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}