{% extends 'videos/base.html' %}

{% block content %}
    <article class="video bg-white rounded-lg shadow-sm p-4">
        <div class="flex items-start justify-between">
            <div>
                <time class="date text-sm text-gray-500">{{ video.uploaded_at }}</time>
                <h2 class="mt-2 text-2xl font-semibold">{{ video.title }}</h2>
            </div>
            <aside class="actions ml-4 flex items-start space-x-2">
                {% if user.is_authenticated %}
                    <a class="inline-flex items-center px-2 py-1 bg-gray-100 rounded hover:bg-gray-200" href="{% url 'video_edit' pk=video.pk %}">
                        {% include './icons/pencil-fill.svg' %}
                    </a>
                    {% comment %} Ici on a besoin de spécifier l'attribut "action" car on ne va pas soumettre le formulaire à la même URL que celle de la page actuelle. {% endcomment %}
                    <form action="{% url 'video_delete' pk=video.pk %}" method="POST" class="inline-block">
                        {% csrf_token %}
                        <button type="submit" class="inline-flex items-center px-2 py-1 bg-red-600 text-white rounded hover:bg-red-700" onclick="return confirm('Vraiment supprimer ?');">
                            {% include './icons/trash.svg' %}
                        </button>
                    </form>
                {% endif %}
            </aside>
        </div>
        <p class="mt-4 text-gray-700">{{ video.description|linebreaksbr }}</p>
        {% comment %} important d'ajouter controle pour permettre la lecture {% endcomment %}
        <div class="mt-4">
            <video controls class="w-full max-w-3xl">
                <source src="{{ video.video.url }}" type="video/mp4">
            </video>
        </div>
    </article>
{% endblock %}