{% extends 'videos/base.html' %}

{% block content %}
<main class="video-list-container">
    <div class="video-grid">
        {% for video in videos %}
        <a class="video-card" href="{% url 'video_detail' pk=video.pk %}">
            <div class="thumbnail-container">
                <img src="{{ video.thumbnail.url }}" alt="Thumbnail for {{ video.title }}" class="video-thumbnail">
            </div>
            <div class="video-info">
                <h2 class="video-title">{{ video.title }}</h2>
                <div class="video-meta">{{ video.uploaded_at }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</main>
{% endblock %}